/* Colors */
.ff-teal,.ff-hover-teal:hover{color:#fff!important; font-weight: bold!important; background-color:#009688!important}
.ff-pale-turqoise, .ff-hover-pale-turqoise:hover{color:#000!important; font-weight: bold!important; background-color:#AFEEEE!important}
.ff-white,.ff-hover-white:hover{color:#000!important;background-color:#fff!important}
.ff-blue-gray{color:#fff!important;background-color:#5F9EA0!important}
.ff-grey,.ff-hover-grey:hover,.ff-gray,.ff-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.ff-light-grey,.ff-hover-light-grey:hover,.ff-light-gray,.ff-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ff-dark-grey,.ff-hover-dark-grey:hover,.ff-dark-gray,.ff-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}


.ff-bye-count{
    width: 100%;
    border-spacing:0;
    border-style: solid;
    border-width: thin;
    border-color: #fff; 
}

.ff-bye-border{
    border-style: solid;
    border-width: thin;
    border-color: #fff; 
    text-align: center;
    align-content: center;
}

.ff-drafter-container{
    position: relative;
    border-style: solid;
    border-width: medium;
    border-color: #009688;
    width: 100px;
    align-content: center;
    text-align: center;
}

.ff-wrap-text{
    word-wrap: break-all;
    white-space: normal;
}
